altgraph==0.17.4
asgiref==3.11.0
bleak==3.0.2
Calendario_Perpetuo @ file:///C:/Users/G-FIVE/Desktop/PRUEBA/dist/calendario_perpetuo-1.0.tar.gz#sha256=364be3e5f8a76db368cbfcf6e8fc64a466a5445a5d21705d52154b6932870a9c
distlib==0.4.0
Django==6.0.7
django-cors-headers==4.9.0
djangorestframework==3.17.1
filelock==3.20.1
numpy==2.4.0
packaging==24.2
pefile==2023.2.7
platformdirs==4.5.1
pygame==2.6.1
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.1
pyserial==3.5
pywin32-ctypes==0.2.3
setuptools==77.0.3
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2025.3
virtualenv==20.36.1
Wand==0.6.13
win2xcur==0.2.0
winrt-runtime==3.2.1
winrt-Windows.Devices.Bluetooth==3.2.1
winrt-Windows.Devices.Bluetooth.Advertisement==3.2.1
winrt-Windows.Devices.Bluetooth.GenericAttributeProfile==3.2.1
winrt-Windows.Devices.Enumeration==3.2.1
winrt-Windows.Devices.Radios==3.2.1
winrt-Windows.Foundation==3.2.1
winrt-Windows.Foundation.Collections==3.2.1
winrt-Windows.Storage.Streams==3.2.1
